.wrap {
    margin-top: 40px;
}


.list {
    width: 100%;
    border: 1px solid #e6e4dc;
    max-width: 100%;
}

.listItemEven,
.listItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemEven {
    background-color: #e6e4dc;
}

